MONGO_URI=mongodb://kirill:kirill_password@kirill-mongo:27017/main_api?authSource=admin
PORT=5195
MAIN_API_HOST_PORT=5195
APP_ID=main
JWT_SECRET=change_me_to_at_least_32_chars
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me
ADMIN_SESSION_SECRET=change_me_to_at_least_32_chars
ADMIN_API_TOKEN=change_me
